:root {
  /* Primary Color Pallete */
  --brand-color: rgb(28, 231, 131);
  --primary-dark: rgb(39, 44, 52);
  --primary-white: rgb(242, 242, 242);

  /* 
  Fonts
  - Headings: Karla
  - Body: Inter
  
  *Imported from next/font/google*
  */

  /* Typography using from Bootstrap CSS  */
}
