:root {
  /* Primary Color Pallete */
  --brand-color: #1ce783;
  --primary-dark: #272c34;
  --primary-white: #f2f2f2;

  /* 
  Grey Pallete class using from Cirrus CSS
  - grey-000
  - grey-100
  - grey-200
  - grey-300
  - grey-400
  - grey-500
  - grey-600
  - grey-700
  */

  /* 
  Fonts
  - Headings: Karla
  - Body: Inter
  
  *Imported from next/font/google*
  */

  /* Typography using from Cirrus CSS  */
}
